<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d [%thread] %-5level %-35logger{30} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="kr.co.enrtech" level="DEBUG"/>

	<logger name="org.springframework" level="INFO"/>
	<logger name="org.springframework.core.convert" level="DEBUG"/>
	<logger name="org.springframework.format.support" level="DEBUG"/>
	<logger name="org.springframework.web" level="DEBUG"/>
	<logger name="org.springframework.web.websocket" level="DEBUG"/>
	<logger name="org.springframework.web.context.support.StandardServletEnvironment" level="INFO"/>
	<logger name="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" level="INFO"/>
	<logger name="org.springframework.security" level="DEBUG"/>

	<logger name="org.mybatis" level="DEBUG" />
	<logger name="enr" level="DEBUG"/>


	<root level="ERROR">
	    <appender-ref ref="CONSOLE" />
	</root>
</configuration>