
#page-wrapper {
    margin-top: 50px;
}

.modal-body {
	padding-bottom: 0;
}

.modal-defult {
    width: 700px;
}
.modal-open .ui-datepicker{
	z-index:1151 !important;
}

form.narrow label.col-sm-2 {
	padding-left: 5px;
	width: 15%;
	padding-right: 5px;
}

form.narrow2 label {
	padding-left: 5px;
	padding-right: 5px;
}

.form-group .modal-footer {
	padding-bottom: 0;
}

label.inner {
	width: 10%;
}

.cmain .nav-tabs {
    margin-bottom: 15px;
}

.form-control-static {
	background-color: #eee;
	padding-left: 5px;
	margin-right: 8px;
}

button.modify {
	margin-right: 15px;
}

.fixed-table-container {
    border: none;
}

#content {
	width: 80%;
	height: 500px;
}

.ui-layout-container, .ui-layout-pane {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

/*
.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto;
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}




.isloading-wrapper.isloading-right {
  margin-left: 10px;
}
.isloading-overlay {
  position: relative;
  text-align: center;
}
.isloading-overlay .isloading-wrapper {
  background: #FFFFFF;
  -webkit-border-radius: 7px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 7px;
  -moz-background-clip: padding;
  border-radius: 7px;
  background-clip: padding-box;
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
  top: 10%;
  z-index: 9000;
}
*/
/* fly alert
.flyover {
   margin-top:-200px;
   overflow: hidden;
   position: fixed;
   width: 50%;
   opacity: 0.9;
   z-index: 1050;
   transition: all 1s ease;
}
 
.flyover.in {
  margin-top: 5px;

}
 */